div(ng-class="{'slide-out': $navigation.leaving}").splash-screen
    div#logo
    div.slogan Le jeu des petits bonshommes violets
    div(ng-show="loggedIn()")
        div.informations
            div.avatar
                img(src="https://fr.gravatar.com/userimage/80232426/a5e97654a15843fa94bc523e14f0525e.jpeg")
            div.exp(xp, next-level=30, value=12)
            div.scores
                div.me
                    div(style="float: left;") Level 1
                    div(style="float: right;") M. Boule Qui-est-ce
                    div(style="clear: both")
                table
                    tr(ng-repeat="match in $match.results")
                        td {{ $first ? 'Last score' : 'Best score' }}
                        td {{ match.score }}/{{ match.totalTry }}
                        td {{ match.comment }}
        div#play
            a(href='' ng-click="$navigation.to('match', 600)") PLAY
    div#signin
        // See https://doorkeeper-provider.herokuapp.com/oauth/applications/252
        oauth(site="https://accounts.google.com/o"
            authorize-path="/oauth2/auth?hd=xebia.fr"
            client-id="13229706518-7q72jrhasf3lhprslqaiejg716arcivf.apps.googleusercontent.com"
            redirect-uri="http://xwhois.herokuapp.com"
            scope="profile"
            template="/assets/templates/oauth-template.html") SIGN IN

footer.footer(ng-class="{'slide-out': $navigation.leaving}")
    ul
        li
            | &copy; 2015 -&nbsp;
            a(href='', ng-click="$navigation.to('credits', 600)") Credits
            | &nbsp;-&nbsp;
            a(href='http://xebia.fr') Xebia

audio(ng-if="env == 'production'" autoplay=true, loop=true src="http://grayscale.scene.pl/msx/synthy_g.mp3")
